// usar este archivo como plantilla para crear el archivo .env en el backend, rellenando los valores según sea necesario


PORT=4000
MONGO_URI=mongodb://localhost:27017/prueba_node_angular
JWT_SECRET=super_secret_cambia_esto
JWT_EXPIRES_IN=1d
CORS_ORIGINS=http://localhost:4200